<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoldenAPEye</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:600" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body ng-app="myApp" class="ng-cloak">
    <header>
        <h1 class="header-title">LIVE AND LET API</h1>
    </header>
    

    <div class="container" ng-controller="MyController">

        <div class="film" ng-repeat="film in films">
            <h2 id="title">{{ film.title }}</h3>
            <h3 id="year">{{ film.year }}</h3>
            <div id="stars">
                <p id="star" ng-repeat="star in film.stars">{{ star }}{{$last ? '' : ', '}}</p>
            </div>
            <p id="synopsis">{{ film.synopsis }}</p>
        </div>

        
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>